nav.mb-7.w-full.flex.justify-center
  ul.flex.flex-row.gap-4.md-gap-7
    li
      a.px-4.py-2.rounded-lg.font-bold.text-white.shadow.transition(
        href="https://policy.nec.go.kr/"
        target="_blank"
        rel="noopener"
        style="letter-spacing: -0.5px; background: linear-gradient(90deg, #a78bfa 0%, #7c3aed 100%)"
      ) 중앙선거관리위원회
    li
      a.px-4.py-2.rounded-lg.font-bold.text-white.shadow.transition(
        href="https://theminjoo.kr/main/"
        target="_blank"
        rel="noopener"
        style="letter-spacing: -0.5px; background: linear-gradient(90deg, #2563eb 0%, #13428f 100%)"
      ) 더불어민주당
    li
      a.px-4.py-2.rounded-lg.font-bold.text-white.shadow.transition(
        href="https://www.peoplepowerparty.kr/"
        target="_blank"
        rel="noopener"
        style="letter-spacing: -0.5px; background: linear-gradient(90deg, #ef4444 0%, #b91c1c 100%)"
      ) 국민의힘
    li
      a.px-4.py-2.rounded-lg.font-bold.text-white.shadow.transition(
        href="https://www.reformparty.kr/"
        target="_blank"
        rel="noopener"
        style="letter-spacing: -0.5px; background: linear-gradient(90deg, #fb923c 0%, #ea580c 100%)"
      ) 개혁신당
