nav.mb-7.w-full.flex.justify-center.z-30.backdrop-blur
  .nav-scroll-area.overflow-hidden.w-full(style="max-width:680px;")
    ul.flex.flex-row.gap-4.whitespace-nowrap.px-2.py-1.nav-scroll-list
      li
        a.px-3.py-2.rounded-lg.font-bold.text-white.transition(
          href="https://policy.nec.go.kr/"
          target="_blank"
          rel="noopener"
          style="letter-spacing: -0.5px; background: linear-gradient(90deg, #a78bfa 0%, #7c3aed 100%)"
          tabindex="0"
        ) 중앙선거관리위원회
      li
        a.px-3.py-2.rounded-lg.font-bold.text-white.transition(
          href="https://www.begintruekorea.com/pledge-2"
          target="_blank"
          rel="noopener"
          style="letter-spacing: -0.5px; background: linear-gradient(90deg, #2563eb 0%, #13428f 100%)"
          tabindex="0"
        ) 1. 이재명
      li
        a.px-3.py-2.rounded-lg.font-bold.text-white.transition(
          href="https://2025victory.kr/sub/?h_page=pledge"
          target="_blank"
          rel="noopener"
          style="letter-spacing: -0.5px; background: linear-gradient(90deg, #ef4444 0%, #b91c1c 100%)"
          tabindex="0"
        ) 2. 김문수
      li
        a.px-3.py-2.rounded-lg.font-bold.text-white.transition(
          href="https://givemoney.kr/promise"
          target="_blank"
          rel="noopener"
          style="letter-spacing: -0.5px; background: linear-gradient(90deg, #fb923c 0%, #ea580c 100%)"
          tabindex="0"
        ) 4. 이준석
      li
        a.px-3.py-2.rounded-lg.font-bold.text-white.transition(
          href="https://www.mois.go.kr/frt/bbs/type002/commonSelectBoardArticle.do?bbsId=BBSMSTR_000000000205&nttId=117789"
          target="_blank"
          rel="noopener"
          style="letter-spacing: -0.5px; background: linear-gradient(90deg, #a78bfa 0%, #7c3aed 100%)"
          tabindex="0"
        ) 행정안전부 사전투표 안내
      li
        a.px-3.py-2.rounded-lg.font-bold.text-white.transition(
          href="https://theminjoo.kr/main/"
          target="_blank"
          rel="noopener"
          style="letter-spacing: -0.5px; background: linear-gradient(90deg, #2563eb 0%, #13428f 100%)"
          tabindex="0"
        ) 더불어민주당
      li
        a.px-3.py-2.rounded-lg.font-bold.text-white.transition(
          href="https://www.peoplepowerparty.kr/"
          target="_blank"
          rel="noopener"
          style="letter-spacing: -0.5px; background: linear-gradient(90deg, #ef4444 0%, #b91c1c 100%)"
          tabindex="0"
        ) 국민의힘
      li
        a.px-3.py-2.rounded-lg.font-bold.text-white.transition(
          href="https://www.reformparty.kr/"
          target="_blank"
          rel="noopener"
          style="letter-spacing: -0.5px; background: linear-gradient(90deg, #fb923c 0%, #ea580c 100%)"
          tabindex="0"
        ) 개혁신당
