nav.mb-7.w-full.flex.justify-center.z-30.backdrop-blur
  ul.flex.flex-row.gap-4.md-gap-7.overflow-x-auto.overflow-y-hidden.whitespace-nowrap.px-2.py-1
    li
      a.px-3.py-2.rounded-lg.font-bold.text-white.transition(
        href="https://policy.nec.go.kr/"
        target="_blank"
        rel="noopener"
        style="letter-spacing: -0.5px; background: linear-gradient(90deg, #a78bfa 0%, #7c3aed 100%)"
        tabindex="0"
      ) 중앙선거관리위원회
    li
      a.px-3.py-2.rounded-lg.font-bold.text-white.transition(
        href="https://theminjoo.kr/main/"
        target="_blank"
        rel="noopener"
        style="letter-spacing: -0.5px; background: linear-gradient(90deg, #2563eb 0%, #13428f 100%)"
        tabindex="0"
      ) 더불어민주당
    li
      a.px-3.py-2.rounded-lg.font-bold.text-white.transition(
        href="https://www.peoplepowerparty.kr/"
        target="_blank"
        rel="noopener"
        style="letter-spacing: -0.5px; background: linear-gradient(90deg, #ef4444 0%, #b91c1c 100%)"
        tabindex="0"
      ) 국민의힘
    li
      a.px-3.py-2.rounded-lg.font-bold.text-white.transition(
        href="https://www.reformparty.kr/"
        target="_blank"
        rel="noopener"
        style="letter-spacing: -0.5px; background: linear-gradient(90deg, #fb923c 0%, #ea580c 100%)"
        tabindex="0"
      ) 개혁신당
